# Ignore virtual environment folder
venv/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor configs
.vscode/

# macOS system files
.DS_Store
